*{
    /* border: 1px solid black; */
    font-family: sans-serif;
}
body{
    margin: 0px;
}

/* Nav */
#nav{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px -2px 5px black;
}
#nav *{
    padding: 10px;
}
.Nav-Item-Handle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-weight: bold;
    font-size: 35px;
}
/* Hero */
#hero{
    background-image: url("https://images.unsplash.com/photo-1682687982134-2ac563b2228b");
    height: 60vh;
    background-size: cover;
    position: relative;
    color: white;
}
#hero>.heroDark{
    position: absolute;
    height: 60vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.165);
}
#hero .focus{
    position: relative;
    z-index: 3;
    margin: auto;
    width: max-content;
    padding: 200px;
    text-align: center;
}
#hero .focus h1{
    font-size: 40px;
}


button{
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    background-color: blue;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.344);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.344);
    transition:background-color 1s;
}
button:hover{
    background-color: rgb(103, 103, 255);
}

.card{
    height: 200px;
    min-width: 150px; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.344);
    border-radius: 5px;
    margin: 5px 8px;
}
.card-row{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto;
}